---
import Base from "../layouts/Base.astro";
import ScrollRedline from "../components/ScrollRedline.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ReframeEngine from "../components/ReframeEngine.astro";
import Work from "../components/Work.astro";
import BrandWall from "../components/BrandWall.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <ScrollRedline />
  <Nav />
  <main>
    <Hero />
    <ReframeEngine />
    <Work />
    <BrandWall />
    <About />
    <Contact />
  </main>
  <Footer />
</Base>
